src/HRApp/.vs/HRApp/v16/Server/sqlite3/storage.ide-wal
src/HRApp/.vs/HRApp/v16/Server/sqlite3/storage.ide-shm
src/HRApp/.vs/HRApp/v16/Server/sqlite3/storage.ide
src/HRApp/.vs/HRApp/v16/Server/sqlite3/db.lock
src/HRApp/.vs/HRApp/v16/.suo
src/HRApp/.vs/HRApp/config/applicationhost.config
src/HRApp/.vs/HRApp/DesignTimeBuild/.dtbcache
src/HRApp/HRApp.Models/obj/HRApp.Models.csproj.nuget.g.targets
src/HRApp/HRApp.Models/obj/HRApp.Models.csproj.nuget.g.props
src/HRApp/HRApp.Models/obj/HRApp.Models.csproj.nuget.dgspec.json
src/HRApp/HRApp.Models/obj/HRApp.Models.csproj.nuget.cache
src/HRApp/HRApp.Services/bin/Debug/netstandard2.0/HRApp.Services.dll
src/HRApp/HRApp.Services/bin/Debug/netstandard2.0/HRApp.Services.deps.json
src/HRApp/HRApp.Services/bin/Debug/netstandard2.0/HRApp.Models.pdb
src/HRApp/HRApp.Services/bin/Debug/netstandard2.0/HRApp.Models.dll
src/HRApp/HRApp.Models/obj/Debug/netstandard2.0/HRApp.Models.pdb
src/HRApp/HRApp.Models/obj/Debug/netstandard2.0/HRApp.Models.dll
src/HRApp/HRApp.Models/obj/Debug/netstandard2.0/HRApp.Models.csprojAssemblyReference.cache
src/HRApp/HRApp.Models/obj/Debug/netstandard2.0/HRApp.Models.csproj.FileListAbsolute.txt
src/HRApp/HRApp.Models/obj/Debug/netstandard2.0/HRApp.Models.assets.cache
src/HRApp/HRApp.Models/obj/Debug/netstandard2.0/HRApp.Models.AssemblyInfoInputs.cache
src/HRApp/HRApp.Models/obj/Debug/netstandard2.0/HRApp.Models.AssemblyInfo.cs
src/HRApp/HRApp.Services/obj/project.assets.json
src/HRApp/HRApp.Services/obj/HRApp.Services.csproj.nuget.g.targets
src/HRApp/HRApp.Services/obj/HRApp.Services.csproj.nuget.g.props
src/HRApp/HRApp.Services/obj/HRApp.Services.csproj.nuget.dgspec.json
src/HRApp/HRApp.Services/obj/HRApp.Services.csproj.nuget.cache
src/HRApp/HRApp.Services/obj/Debug/netstandard2.0/HRApp.Services.pdb
src/HRApp/HRApp.Services/obj/Debug/netstandard2.0/HRApp.Services.dll
src/HRApp/HRApp.Services/obj/Debug/netstandard2.0/HRApp.Services.csprojAssemblyReference.cache
src/HRApp/HRApp.Services/obj/Debug/netstandard2.0/HRApp.Services.csproj.FileListAbsolute.txt
src/HRApp/HRApp.Services/obj/Debug/netstandard2.0/HRApp.Services.csproj.CopyComplete
src/HRApp/HRApp.Services/obj/Debug/netstandard2.0/HRApp.Services.assets.cache
src/HRApp/HRApp.Services/obj/Debug/netstandard2.0/HRApp.Services.AssemblyInfoInputs.cache
src/HRApp/HRApp.Services/obj/Debug/netstandard2.0/HRApp.Services.AssemblyInfo.cs
src/HRApp/HRApp.Services/bin/Debug/netstandard2.0/HRApp.Services.pdb
